.slider {
    margin-top: 30px;
}

.wrapper-slider {
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper-slider::before {
    content: url(../images/slider/slider-375px.png);
    display: block;
    width: 315px;
    height: 500px;
    margin-bottom: 30px;
    align-self: stretch;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px 12px 0px 0px;
}

.team {
    color: rgba(36, 163, 255, 1);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
}

.team::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 60px;
    transform: translate(-50%);
    width: 5px;
    height: 9px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/services/button.png);
}

.title-slider {
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
    padding-right: 70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 6px;
}

.work {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
    color: #B3B3BA;
}

.text {
    padding-left: 30px;
    padding-right: 30px;
}

.slide {
    margin-top: 30px;
}

.slide {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.slide a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(211, 237, 255, 1);
}

.slide a:hover {
    background: rgba(36, 163, 255, 1);
}

@media (min-width: 768px) {
    .wrapper-slider {
        padding-left: 60px;
        padding-right: 60px;
    }

    .wrapper-slider::before {
        content: url(../images/slider/slider-768px.png);
        display: block;
        width: 315px;
        height: 500px;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px 12px 0px 0px;
    }
}

@media (min-width: 1024px) {
    .wrapper-slider {  
        display: flex;
        justify-content: space-between;
}

    .text {
        background-color: rgba(245, 245, 250, 1);
        padding: 30px;
        height: 528px;
    }

    .wrapper-slider::before {
        content: url(../images/slider/slider-1024px.png);
        display: block;
        width: 400px;
        height: 528px;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px 12px 0px 0px;
    }
}

@media (min-width: 1440px) {
    .wrapper-slider {
        height: 344px;
    }

    .wrapper-slider::before {
        content: url(../images/slider/slider\ -\ 1440px.jpg);
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px 12px 0px 0px;
    }

    .text{
        height: 344px;
    }
}

@media (min-width: 1920px) {
    .wrapper-slider::before {
        content: url(../images/slider/slider-1920px.jpg);
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px 12px 0px 0px;
    }

    .wrapper-slider {
        height: 298px;
    }

    .wrapper-slider {
        padding-left: 160px;
        padding-right: 160px;
    }
}


